


@font-face {
    font-family: 'sinkinsans';
    src: url('sinkinsans-900xblackitalic-webfont.woff2') format('woff2'),
         url('sinkinsans-900xblackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}